.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 40px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 50px);
  box-sizing: border-box;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

.title {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 20px;
}

pre {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 4px;
  color: white;
  overflow: auto;
  width: 400px;
  box-sizing: border-box;
}

.logout-button {
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

.logout-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.get-profile-container {
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}
.get-profile-container:hover {
  border: 1px solid #8650faff;
}
.get-profile-container:hover .subtitle {
  color: #8650faff;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.navigation a,
.navigation div {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #101010;
  cursor: pointer;
}

.navigation a:hover,
.navigation div:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}
